@import "../shared/globals";

iframe {
  height: 100%;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.close {
  position: absolute;
  right: 0;
  width: 50px;
  filter: invert(100);
  cursor: pointer;
  
  &.privacy {
    filter: none;
    width: 30px;
  }
}

.download {
  img {
    max-width: 100%;
    margin: 20px 0;
  }
}

.app-container {
  display: flex;

  .full-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .group-title {
    margin: 20px 0;
    font-size: 24px;

    &.withMargin {
      margin-left: 15px;
      font-size: 20px;
    }
  }

  .thumbs {
    display: flex;
    flex-wrap: wrap;

    &.row .thumbs {
      display: block;
    }

    .thumb {
      width: 300px;
      cursor: pointer;
      height: auto;
      margin: 20px 30px 0px 0px;
      border-radius: 2px;
      min-height: 250px;
      margin-bottom: 8px;
      transition: background-color 0.2s ease;

      @include gmd-1;

      @media (max-width: 480px) {
        margin-right: 0;
      }

      video {
        width: 100%;
      }

      .title {
        margin: 15px 0;
        text-align: center;
      }
    }
  }
}

.privacy-modal {
  padding: 30px;
  display: flex;
  flex-direction: column;

  .captcha {
    margin-bottom: 20px;
  }

  .checkbox-container {
    display: flex;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .qr-links {
    display: flex;

    .qr-item {
      margin-left: 20px;
      color: inherit !important;
      text-decoration: none !important;

      img {
        height: 145px;
        width: auto;
      }
    }
  }

  .guide-list {
    li {
      margin-bottom: 10px;
    }
  }

  .guide {
    margin-bottom: 20px;
  }

  .sendRequest {
    z-index: 9;
    font-size: 16px;
  }

  .settings {
    p {
      margin: 5px 0;
      font-size: 14px;

      .setting-name {
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}
